body {
  margin: 0;
  font-family: serif;
  background-color: #e7f6ff;
  font-family: 'Comfortaa', cursive;
  font-family: 'Inter Tight', sans-serif;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

.wrapper .leftSide img {
  max-width: 8%;
  padding-left: 15px;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f4f4f4;
}

header .leftSide {
  display: flex;
  align-items: center;
}

header .leftSide .headerInfo {
  padding-left: 15px;
  margin: 0;
}

header .leftSide .headerInfo p {
  opacity: 0.5;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 10px;
}

header h3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-top: 10px;
}

.rightSide {
  display: flex;
  padding-right: 15px;
  text-align: center;
}

.rightSide p {
  padding: 20px;
  font-weight: 400;
}

.content h2 {
  padding-left: 30px;
  font-weight: 500;
  font-size: 28px;
}

.content .items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  margin-right: 20px;
  position: relative;
}

.search-block input {
  border: 0;
  padding: 13px;
  font-size: 16px;
  width: 200px;
  outline: none;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.a-center {
  align-items: center;
}

.mr-20 {
  margin-right: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 385px;
  height: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 0 30px 0 30px;
}

.drawer h2 {
  margin-top: 30px;
}

.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 20px;
}

.cartItemImg {
  height: 70px;
  width: 70px;
  background-size: contain;
  background-position: 0 20px;
  background-repeat: no-repeat;
  margin-right: 20px;
  margin-left: 20px;
}

.cartItem p {
  margin-bottom: 5px;
  margin-top: 0;
}

.cartRemove {
  margin-left: auto;
  margin-right: 10px;
  opacity: 0.5;
}

.cartRemove:hover {
  opacity: 1;
  cursor: pointer;
}

.cartTotalBlock div {
  flex: 1;
  height: 1px;
  border-bottom: 1px dashed #dfdfdf;
  position: relative;
  top: -4px;
  margin: 0 7px;
}

.cartTotalBlock {
  padding-left: 0;
}

.cartTotalBlock ul {
  flex: 1;
  display: block;
  margin-bottom: 40px !important;
}

.cartTotalBlock li {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.items {
  flex: 1;
  overflow: auto;
  margin-bottom: 40px;
}

.cartTotalBlock button {
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.cartTotalBlock button:hover {
  background: #a0da5a;
}

.clear {
  position: absolute;
  right: 0;
  width: 25px;
  height: 25px;
  top: 9px;
  right: 10px;
}

.greenButton {
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}

.greenButton:disabled {
  background-color: #bebebe;
  cursor: default;
}

.greenButton:hover {
  background: lighten(#9dd558, 5%);
}

.greenButton:active {
  background: darken(#9dd558, 5%);
}

.greenButton {
  position: relative;
}

.greenButton:disabled {
  animation: button-loading 0.6s ease-in-out infinite;
}

.cartEmpty {
  text-align: center;
  flex-direction: column;
  flex: 1;
}

.cartEmpty p {
  width: 280px;
  line-height: 24px;
}

.cartEmpty .greenButton {
  width: 245px;
  margin-top: 20px;
}

.cartEmpty .greenButton:hover img {
  transform: translateX(5px);
}

.cartEmpty .greenButton img {
  position: absolute;
  right: 30px;
  top: 20px;
  transition: transform 0.15s ease-in-out;
}
